:host {
    width: 100%;
    min-width: 100%;
}

.header-container {
    position: relative;
    background-color: #64c0f4; 
    z-index: 4;
    box-shadow: 0px 2px 20px 2px #202021;
}

button {
     -webkit-appearance: none;
    -moz-appearance:    none;
    border: none;
    background-color: transparent;
}

button img {
      height: 24px;  
}

.header-item {
    padding: 16px;
     color: #303030; 
    font-size: 1.3em;
    text-decoration: none;
}

.header-item.icon {
     padding: 0; 
}

.header-item:hover {
    background-color: #2190c1;
    color: #dddddd;  
}