:host {
    top: 0;
    width: 100%;
    min-width: 100%;
    z-index: 10;
    position: fixed;
}

.header-container {
    position: relative;
    background-color: #64c0f4; 
    z-index: 4;
    box-shadow: 0px 2px 20px 2px #202021;
}

button {
     -webkit-appearance: none;
    -moz-appearance:    none;
    border: none;
    background-color: transparent;
}

button img {
      height: 24px;  
      padding: 13px;
}

.header-item {
    position: relative;
    padding: 16px;
    color: #303030; 
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 30px;
    text-align: center;
    white-space: nowrap;
}

.header-item.icon {
     padding: 0; 
}

.header-item.hover {
    background-color: #2190c1;
    color: #dddddd;  
}

.header-item.right {
    margin-left: auto;
    text-transform: none;
}

.header-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 130px;
    background-color: #2190c1;
}

.header-dropdown.open {
    display: block;
}

.dropdown-item {
    padding: 16px;
    font-size: 0.9em;
    min-width: 60px;
    text-align: center;
    color: #dddddd;
    white-space: nowrap;
    cursor: pointer;
}

@media (min-width: 768px) {
    .header-item {
        padding: 16px;
        font-size: 1.3em;
        min-width: 60px;
    }

    .header-item:hover {
        background-color: #2190c1;
        color: #dddddd;
    }

    .header-item:hover .header-dropdown {
        display: block;
    }
}