<div class="header-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="60px" fxLayoutGap.lt-md="10px" fxFlexFill>
  <button class="header-item icon click-outside" (click)="stateService.openSidebar()">
    <img class="click-outside" src="assets/190-menu.svg" alt="Menu Icon"> 
  </button>
  <a class="header-item" [routerLink]="['news']">
    Steam News
  </a>
  <a class="header-item right" *ngIf="!userService.isLoggedIn()" [routerLink]="['login']">
    Login
  </a>
  <a class="header-item right" *ngIf="userService.isLoggedIn()" (click)="openDropdown($event)">
    {{ userService.currentUser?.username }}
    <div class="header-dropdown">
      <button class="dropdown-item" (click)="userService.logOut()">Logout</button>
    </div>
  </a>
</div>