:host {
    width: 100%;
    min-width: 100%;
}

div {
    padding: 8px;
    text-align: center;
    background-color: #2a2a2d;
    
}

h6 {
    margin: 0 60px 0 0;
    display: inline-block;
    font-size: 0.9em;
}

a {
    display: inline-block;
    font-size: 0.9em;
}