#search-container {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

.search {
    text-indent: 30px;
    font-size: 18px;
    height: 2em;
    display: block;
    width: 100%;
    border: none;
    background-color: #f5f5f5; 
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.suggestion-item {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.suggestion-image {
    height: 100%;
    width: auto;
    max-height: 100px;
}

.suggestion-link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.suggestion-title {
    font-size: 1em;
    margin-left: 20px;
}


@media (min-width: 500px) { 

    .suggestion-item {
        height: 60px;
    }

    .suggestion-title {
        font-size: 1.6em;
    }
}

 @media (min-width: 700px) { 
    
    .suggestion-item {
        height: 90px;
    }

    .suggestion-title {
        font-size: 2.2em;
    }
}