<div id="search-container" #searchContainer>
  <input #newGame type="text" class="content-container search" placeholder="Add Game" [(ngModel)]=query (keyup)=filter()>
  <ul *ngIf="filteredGames.length > 0">
    <li class="suggestion-item" *ngFor="let suggestion of filteredGames">
      <img class="suggestion-image" src="http://cdn.akamai.steamstatic.com/steam/apps/{{ suggestion.appId }}/header.jpg" 
        alt="{{ appId }} banner" default="http://cdn.akamai.steamstatic.com/steam/apps/440/header.jpg">
      <a class="suggestion-link" (click)="select(suggestion)">{{ suggestion.title | shorten:25 }}</a>
    </li>
  </ul>
</div>
<!-- <button (click)="newsService.addGameNews(newGame.value); userService.onAddGame(newGame.value); newGame.value=null">Track Game</button>  -->