<article class="content-container hover" [routerLink]="['/', article?.appId]" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="grow">
    <div class="media-container">
        <picture>
            <source 
            media="(max-width: 599px)" 
            srcset="https://images.weserv.nl/url=cdn.akamai.steamstatic.com/steam/apps/{{ article?.appId }}/header.jpg">
            <source 
            media="(min-width: 600px)" 
            srcset="https://images.weserv.nl/url=cdn.akamai.steamstatic.com/steam/apps/{{ article?.appId }}/header_292x136.jpg">
            <img class="media deep-ignore"
            src="https://images.weserv.nl/url=cdn.akamai.steamstatic.com/steam/apps/{{ article?.appId }}/header_292x136.jpg"
            srcset="https://images.weserv.nl/url=cdn.akamai.steamstatic.com/steam/apps/{{ article?.appId }}/header_292x136.jpg"
            alt="{{ article?.title }} background img">
        </picture>
    </div>
    <div class="summary-content" fxFlex="grow">
        <h3 class="title">{{ article?.title }}</h3>
        <h5 class="subtitle">{{ article?.getDate() | date }}</h5>
        <div class="summary-body" [innerHTML]="(article?.body | stripTag:'<img' | shorten:125)"></div> 
    </div>
</article> 

