:host {
    margin: 15px 15px;
    flex: 1 1 100%;
}

.content-container {
    cursor: pointer;
}

.summary-content {
    padding: 0 8px 8px 8px;  
    letter-spacing: 0.02em; 
}

.summary-body {
    margin-top: 12px;
    line-height: 1.7em;
    font-size: 1em; 
}

.summary-body >>> h1,h2:not(.deep-ignore),h3 {
    font-size: 1.1em;
}

.summary-body >>> .bbcode_image {
    display: block;
    max-width: 80%;
    margin: auto;
}

@media (min-width: 600px) { 
    
    :host {
        flex: 0 0 40%;
    }
}

@media (min-width: 1000px) { 
    
    :host {
        flex: 0 0 30%;
    }
}

@media (min-width: 1500px) {
    
    :host {
        flex: 0 0 375px;
    }
}