<article class="content-container hover" [routerLink]="[newsItem?.appId]" fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <div class="media-container">
        <img class="media deep-ignore" src="http://cdn.akamai.steamstatic.com/steam/apps/{{ newsItem?.appId }}/header.jpg" alt="{{ newsItem?.appId }} banner"> 
    </div>
    <div class="summary-content" fxFlex="grow">
        <h3 class="title">{{ newsItem?.title }}</h3>
        <h5 class="subtitle">{{ newsItem?.getDate() | date }}</h5>
        <div class="summary-body" [innerHTML]="newsItem?.body | shorten:150"></div> 
    </div>
</article> 

