:host {
    margin: 15px 15px;
}

.content-container {
    cursor: pointer;
}

.summary-content {
    padding: 0 8px 8px 8px;  
}

.summary-body {
    margin-top: 12px;
    line-height: 1.7em;
    font-size: 16px; 
}

.summary-body::ng-deep h1, .summary-body::ng-deep h2:not(.deep-ignore), .summary-body::ng-deep h3 {
    font-size: 18px;
}

.summary-body::ng-deep img {
    display: block;
    max-width: 80%;
    margin: auto;
}