:host {
    width: 100%;
}

.content-container {
    padding: 30px 30px 0px 30px;
}

.title {
    margin-top: 0;
    font-size: 2em;
}

.subtitle {
    font-size: 1.2em;
}

.article-body {
    margin-top: 30px;
    line-height: 1.2em;
    font-size: 1.1em; 
    letter-spacing: 0.014em; 
}

.article-link {
    text-decoration: none;
}

.article-bottom {
    clear: both;
    height: 60px;
    text-align: right;
    cursor: pointer;
    transition: all 0.2s ease;
}

.article-bottom:hover {
    border-radius: 0px 0px 4px 4px;
    background-color: #9bf3ff;
}

.article-bottom:hover p {
    color: #303030;
}

.article-bottom hr {
    margin-top: 0;
}

.article-bottom p {
    margin-right: 18%;
}



.article-body >>> .bbcode_image {
    display: block;
    max-width: 90%;
    margin: 14px auto 14px auto;
}

.article-body >>> h1,h2:not(.deep-ignore),h3 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.1em;
    clear: both;
}

.article-body >>> hr {
    clear: both;
}

.article-body >>> li {
    margin-top: 4px;
    margin-bottom: 4px;
}

.content-container {
    margin-bottom: 100px;
}

