:host {
    width: 100%;
}

.content-container {
    padding: 30px;
    margin-bottom: 30px;
}

.title {
    margin-top: 0;
    font-size: 36px;
}

.subtitle {
    font-size: 16px;
    margin-left: 8px;
}

.article-body {
    width: 100%;
    margin-top: 30px;
    font-size: 16px; 
    overflow-x: hidden;
}

.article-link {
    text-decoration: none;
}

.article-bottom {
    display: flex;
}

 .button.raised {
     margin-left: auto;
 }


 /* ----- PLACEHOLDER -----  */

.title.placeholder {
    height: 36px;
}

.article-body.placeholder {
    height: 400px;
}


 /* ----- BBCODE -----  */

.article-body::ng-deep h1, .article-body::ng-deep h2:not(.deep-ignore), .article-body::ng-deep h3 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.1em;
    clear: both;
}

.article-body::ng-deep ul {
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
}

.article-body::ng-deep li {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 40px;
}

.article-body::ng-deep a {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    color: white;
    font-size: 
}

.article-body::ng-deep .xbbcode-u {
    text-decoration: underline;
}

.article-body::ng-deep .xbbcode-b {
    font-weight: bold;
}

.article-body::ng-deep hr {
    clear: both;
}

.article-body::ng-deep img {
    display: block;
    max-width: 90%;
    margin: 14px auto 14px auto;
}
