.title-container {
    margin-bottom: 60px;
}

.title-media {
    width: 100%;
    height: auto;
}

.article-list {
    text-align: center;
    background-color: #424242;
    box-shadow: 0px 6px 11px 1px #202021;
}

.article-list-inner {
    padding: 0px 20px 20px 20px;
}

.article-list-title {
     margin-top: 20px; 
}

.button {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

aside {
    position: fixed;
    top: 55px;
    height: 100%;
    padding-bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

#article-container {
    width: 100%;
}
