:host {
    height: 100%;
    overflow-y: scroll;
}

.container {
    height: 100%;
    overflow-y: scroll;
}

.title-container {
    margin-bottom: 60px;
}

.article-list {
    text-align: center;
    background-color: #424242;
    box-shadow: 0px 6px 11px 1px #202021;
}

.article-list-inner {
    padding: 20px;
}

.list-item {
    padding: 5px 10px 5px 10px; 
    margin-top: 3px;
    margin-bottom: 3px; 
}

.article-list-title {
     margin-top: 20px; 
}

