<aside class="article-list" [@slideInOut] fxLayout="column" fxLayoutAlign="start stretch" fxFlex="350px" fxHide.lt-md>
  <div class="media-container">
      <img class="media" src="https://images.weserv.nl/?url=ssl:cdn.akamai.steamstatic.com/steam/apps/{{ appId }}/header.jpg" alt="{{ appId }} banner">
      <a class="button raised" href="{{ 'https://images.weserv.nl/?url=ssl:store.steampowered.com/app/' + appId + '/'}}">Steam Store</a>
  </div>
  <div *ngIf="gameNews?.length" class="article-list-inner">
    <h2 class="title">Articles</h2>
    <ul>
      <li fxLayout="row" *ngFor="let article of gameNews; let i = index;">
        <a *ngIf="article !== null" class="list-item" (click)="goToArticle(i, article.articleId)">{{ article.title | shorten:30 }}</a>
        <a *ngIf="article === null" class="list-item placeholder anim-pulse"></a>
      </li>
    </ul>
  </div>
</aside> 
<div fxLayout="column" fxLayoutAlign="start center" fxFlexOffset="350px" fxFlexOffset.lt-md="0" fxFlex="grow">
  <div class="title-container" [ngStyle.gt-sm]="{ width: '200%' }">
    <h1 class="game-title" fxHide.lt-md>{{ userService.getGame(appId)?.title }} News</h1>
    <img class="title-media" src="https://images.weserv.nl/?url=ssl:cdn.akamai.steamstatic.com/steam/apps/{{ appId }}/capsule_467x181.jpg" alt="{{ appId }} banner" onerror="this.style.display='none'" fxHide.gt-sm>
  </div>
  <div *ngIf="!gameNews?.length">
    <h2>No news available for this game</h2>
  </div>
  <div id="article-container" class="anim-hide" [@slideInUpArticles]>
    <app-news-article 
    *ngFor="let article of gameNews | slice:0:maxArticlesDisplay; last as isLast"
    [isLast]="isLast" 
    [newsItem]="article">
    </app-news-article>
  </div>
</div>
