<div class="container" [fxHide]="!(userService.sidebarIsOpen() | async)" (appClickOutside)="userService.closeSidebar()">
  <h2>Game Track List</h2>
  <hr>
  <div>
    <input #newGame type="text">
    <button (click)="newsService.addGameNews(newGame.value); userService.onAddGame(newGame.value); newGame.value=null">Track Game</button>
  </div>
  <div *ngFor="let game of (userService.getGameList() | async)" [routerLink]="['news', game.appId]">
    <h2 >{{ game.title }}</h2> 
    <hr>
  </div>
</div>