/* You can add global styles to this file, and also import other style files */
html,body {
    height: 100%;
    min-height: 100%;
    font-family: Roboto;
}

body {
    background-color: #303030;
    color: #dddddd;
    overflow: hidden;
}

a {
    color: #dddddd;
    cursor: pointer;
}

hr {
    width: 99.8%;
    color: #dddddd;
    opacity: 0.4;
}

.content-container {
    background-color: #424242;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 0px 0px 2px 2px;
}

.content-container.hover {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.content-container.hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

 .title-container {
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
     min-height: 100px;
    background-color: #64c0f4;
    color: #303030;
}

.media-container {
    position: relative;
    display: block; 
}

.media-container .media {
    border-radius: 2px 2px 0 0px;
    width: 100%; 
}

.title {
    margin-top: 16px;
    text-align: left;
    font-size: 1.1em;
    margin-bottom: 0;
}

.subtitle {
    text-align: left;
    color: grey;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 0;
}

.link {
    display: inline-block;
    font-size: 0.9em;
    color: #64c0f4;
    font-weight: 400;
    margin: 10px;
    padding: 10px;
}



 /* -----------------BUTTON STYLES -------------  */

 .button {
     display: inline-block;
     margin-top: 20px;
     min-width: 64px;
     height: 36px;
     line-height: 36px;
     padding: 0 8px 0 8px;
     border-radius: 2px;
     text-transform: uppercase;
     text-decoration: none;
     background-color: #64c0f4;
     color: black;
     border: none;
 }

  .button:hover:not([disabled]) {
      filter: brightness(85%);
      -webkit-filter: brightness(85%);
         -moz-filter: brightness(85%);
	       -o-filter: brightness(85%);
	      -ms-filter: brightness(85%);
 } 

 .button.grow {
    width: 100%;
}

 .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
.button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}

.button:focus:not([disabled]) {
    outline: none;
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
       -moz-filter: brightness(85%);
         -o-filter: brightness(85%);
        -ms-filter: brightness(85%);
}

.button[disabled], .button[disabled]:hover, .button[disabled]:focus, .button[disabled]:active { 
    background-color: grey;
    box-shadow: none;
 }



 /* ---------------- LIST STYLES -------------- */
ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

.list-item {
    position: relative;
    padding-left: 10px;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

.list-item.action {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item.action img {
    height: 18px;
    width: 18px;
}

.list-item:not(.action):hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #64c0f4;
} 

.list-item.action:hover img  {
    -webkit-transform: scale(1.3); 
      -ms-transform: scale(1.3); 
          transform: scale(1.3);
} 

 