<div class="title-container main">
  <h1>Latest News</h1>
</div>
<div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" fxFlex="90" fxFlex.lt-md="98">
    <app-news-summary 
      fxFlex="100" fxFlex.gt-xs="250px" fxFlex.gt-md="300px" fxFlex.gt-lg="375px"
      *ngFor="let game of this.gameList" 
      [newsItem]="this.allNews[game.appId] | firstElement"
      [game]="game">
    </app-news-summary>
    <!-- <app-news-summary 
    fxFlex="100" fxFlex.gt-xs="40%" fxFlex.gt-md="25%" fxFlex.gt-lg="375px" WAITING ON ANGULAR FLEX LAYOUT v1.1.6
    *ngFor="let game of this.gameList" 
    [newsItem]="this.allNews[game.appId] | firstElement"
    [game]="game">
  </app-news-summary> -->
  </div>
</div>




