
<div fxLayout="column" fxLayoutAlign="start center" fxFlex="grow">
  <div class="title-container main">
    <h1>Sign up to get the latest news on your Steam Wishlist!</h1>
  </div>
  
  <div class="content-container" *ngIf="!this.newUser" [@flip]>
    <h2>Log In</h2>
    <h3 class="error" *ngIf="userService.serverErrorMessage">{{ userService.serverErrorMessage }}</h3>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="form-group">
        <input type="text" name="username" [ngModel]=user.username #username="ngModel" required minlength="4">
        <label for="username">Username
          <span *ngIf="username?.errors?.minlength"> - Minimum Length: 4</span>
        </label>
      </div>
      <div class="form-group">
        <input type="password" name="password" [ngModel]=user.password #password="ngModel" required minlength="6">
        <label for="password">Password
          <span *ngIf="password?.errors?.minlength"> - Minimum Length: 6</span>
        </label>
      </div>
      <button class="button grow raised" type="submit" [disabled]="!loginForm.valid">Submit</button>
      <a class="link" (click)="this.newUser = true;">New User?</a>
    </form>
  </div>

  <div class="content-container" *ngIf="this.newUser" [@flip]>
    <h2>Sign Up</h2>
    <h3 class="error" *ngIf="userService.serverErrorMessage">{{ userService.serverErrorMessage }}</h3>
    <form #signupForm="ngForm" (ngSubmit)="onSignup(signupForm.value)">
      <div class="form-group">
        <input type="text" name="username" [ngModel]=user.username #username="ngModel" required minlength="4">
        <label for="username">Username
          <span *ngIf="username?.errors?.minlength"> - Minimum Length: 4</span>
        </label>
      </div>
      <div class="form-group">
        <input type="password" name="password" [ngModel]=user.password #password="ngModel" required minlength="6" validateEqual="passwordConfirm" reverse="true">
        <label for="password">Password
          <span *ngIf="password?.errors?.minlength"> - Minimum Length: 4</span>
        </label>
      </div>
      <div class="form-group">
        <input type="password" name="passwordConfirm" [ngModel]=user.passwordConfirm #passwordConfirm="ngModel" required minlength="6" validateEqual="password">
        <label for="passwordConfirm">Password
          <span *ngIf="passwordConfirm?.errors?.validateEqual != null"> - Must Match</span>
        </label>
      </div>
      <button class="button grow raised" type="submit" [disabled]="!signupForm.valid || password.value != passwordConfirm.value">Submit</button>
      <a class="link" (click)="this.newUser = false;">Already Signed Up?</a>
    </form>
  </div>
</div>